<section>
    <div class="card text-white bg-secondary mb-3">
        <div class="card-header px-3 py-2">
            <h1 class="card-title display-4" >Angular Single Page Application Project</h1>
        </div>
        <p style="text-align:justify;">
                    <br /><br />Since its inception, Utility Services has provided guidance and assistance on registration, 
                    compliance, and standard development to over 100 registered entities in all eight NERC regions of the 
                    United States and Canada. Our constituents include publicly owned entities, independent generation, and
                    transmission owners. Utility Services has participated in over 200 audits since its inception. To date,
                    our customers have had less than 10 enforcement actions..<br />
                    <br />
                    <br />
                </p>
        <div class="card-footer">
            <a asp-action="Index" asp-controller="Main" class="btn btn-primary"></a>
        </div>
    </div>
</section>
<section>
    <footer class="container-fluid">
        <p>Directed by S.M.Atiqur Rahman Id-1268952</p>
    </footer>
</section>


